name: Push image to dockerhub
on:
  push:
    branches: [main]
jobs:
  list_all_buildtools_versions:
    runs-on: ubuntu-latest
    outputs:
      versions_info: ${{ steps.list.outputs.versions_info }}
    container: grascm/android-tools-base:latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: List all buildtools versions
        id: list
        shell: bash
        run: echo "::set-output name=versions_info::$(./get_all_major_buildtools_versions)"
  build_image:
    runs-on: ubuntu-latest
    needs: list_all_buildtools_versions
    strategy:
      matrix:
        version_info: ${{ fromJson(needs.list_all_buildtools_versions.outputs.versions_info) }}
    steps:
      - name: Calc vars
        id: vars
        shell: bash
        run: |
          repo="${{ github.repository }}"
          version_info="${{ matrix.version_info }}"
          version=$(echo "$version_info" | cut -f1 -d "|")
          api_level=$(echo "$version_info" | cut -f2 -d "|")
          tag="${repo/${{ github.repository_owner }}/grascm}:$api_level"
          echo "tag=$tag version=$version label=$label"
          echo "::set-output name=tag::$tag"
          echo "::set-output name=version::$version"
          echo "::set-output name=api_level::$api_level"
      - name: Login to DockerHub
        uses: docker/login-action@v1.8.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build docker image
        uses: docker/build-push-action@v2.3.0
        with:
          push: true
          build-args: |
            BUILDTOOLS_VERSION=${{ steps.vars.outputs.version }}
            API_LEVEL=${{ steps.vars.outputs.api_level }}
          tags: ${{ steps.vars.outputs.tag }}
